body {
    color: #3A3A3A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14rem;
    line-height: 1.285;
    padding: 0%;
    margin: 0%;
    /*margin: 0%;*/
}

.full {
    display: block;
}

img {
    padding: 1.5vw;
    padding-left: 10vw;
}

.header {
    border-bottom-style: solid;
    border-color: red;
    border-width: 0.2vh;
}

.first {
    padding-top: 1.5vw;
}

.subheader1 {
    float: left;
    border-bottom-style: solid;
    border-color: #D83230;
    border-bottom-width: 35px;
    width: 10%;
}

.subheader2 {
    float: right;
    border-bottom-style: solid;
    border-color: #D83230;
    border-bottom-width: 35px;
    width: 89.7%;
}

.second {
    padding-top: 20px;
    border: 0px;
    display: block;
    font-size: 1.4rem;
    text-align: center;
}

.ready {
    padding-bottom: 0%;
}

.third {
    text-align: center;
    height: 22px;
    width: 100%;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    color: #3A3A3A;
}

p {
    margin: 0.5%;
}

.left {
    margin-left: 17vw;
    /*padding-right: 1vw;*/
    margin-right: 0%;
    /*width: 40vw;*/
    float: left;
    height: 32vw;
}

.update {
    display: block;
    padding-left: 10vw;
    padding-top: 10%;
    padding-right: 0%;
}

.bonus {
    padding-left: 10vw;
    padding-top: 0.4vw;
    padding-bottom: 1.8vw;
    padding-right: 0%;
    width: 400px;
    /*height: 50vw;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vw;
    line-height: 1.27;
    letter-spacing: -0.31px;
    text-align: center;
    color: #EC5E34;
}

.update_now {
    /*margin-left: 13vw;*/
    margin-right: 0vw;
    padding-right: 0%;
    padding-left: 10vw;
    ;
    width: 400px;
    /*height: 15vh;*/
    /*adjust later*/
    display: block;
    /*background-color: #F07F24;*/
}

.update_link {
    background-color: #F07F24;
    margin-top: 0%;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #FFF;
    padding: 1.02vw 8vw 0.9vw 8vw;
    text-decoration: none;
}

.right {
    float: left;
    margin-left: 2.8vw;
    display: block;
    width: 25vw;
    /*margin-right: 20vw;*/
}

.woman {
    position: absolute;
    display: block;
    border: 0%;
    padding-right: 0vw;
    padding-left: 0%;
}

.tape {
    background: #156068;
    height: 20px;
    margin-bottom: 0px;
    margin: 0 auto;
    position: relative;
    display: block;
}

.blue_content {
    display: block;
    background: #1F858F;
    margin: 0%;
    width: 100%;
    position: relative;
    text-align: center;
}

.middle {
    width: 70%;
    /*text-align: inline-flex;*/
    padding: 2vw 2vw 2vw 17%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.left_blue {
    width: 40%;
    text-align: center;
    padding-left: 17%;
}

.percent {
    display: block;
    margin: 0%;
    padding-right: 0%;
    padding-left: 0%;
}

.code {
    margin: 0%;
    font-size: 24px;
    line-height: 1.6em;
    font-family: sans-serif;
    color: #FFFFFF;
    text-align: center;
    display: block;
    margin-right: 0%;
}


/*p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}*/

b {
    font-weight: 700;
}

.offer {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    padding-top: 10px;
}

.shop {
    margin: 0%;
    line-height: 1.6em;
    text-align: center;
    /*padding-top: 20px;*/
    width: 50px;
}

.shopnow {
    display: inline;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    /*text-align: center;*/
    height: 16px;
}

.separator {
    display: block;
    padding-left: 100px;
    padding-right: 50px;
}

.right_blue {
    width: 50%;
    text-align: center;
}

.campaign {
    padding-left: 0%;
    padding-right: 0%;
    display: block;
}

.learn {
    margin: 0%;
    line-height: 1.6em;
    text-align: center;
    height: 40px;
    padding-top: 15px;
}

.learnmore {
    display: inline-block;
    outline: 0px;
    /*overflow: hidden;*/
    text-decoration: none;
    cursor: pointer;
    height: 16px;
}

footer {
    letter-spacing: 1px;
    margin-bottom: 2.5vw;
    display: block;
}

.wrap {
    margin: auto;
    padding-bottom: 0.2em;
    margin-left: 5vw;
    margin-right: auto;
}

.lastcontent {
    display: table;
    width: 100%;
}

.links {
    color: #3A3A3A;
    box-sizing: border-box;
    font-size: 12px;
}

.one {
    margin: 0%;
    padding: 0%;
    width: auto;
    float: left;
    line-height: 18px;
}

li {
    list-style: none;
    float: left;
}

.bar {
    margin-left: 9px;
    margin-right: 9px;
}

.two {
    margin: 0%;
    padding: 0%;
    width: auto;
    float: left;
    line-height: 18px;
}

br {
    line-height: 0.8vw;
}